{{navbar-component}}
<div class="full-listing">
  <h3>{{model.title}} - {{model.price}} ({{model.location}})</h3>
  <img src="{{model.photoURL}}"/>
  <p>{{model.description}}</p>
  <span class="date"> <p>posted: {{model.date}}</p></span>
  {{edit-listing listing=model edit="edit" destroyListing="destroyListing"}}
  {{#link-to "category" model.category.id}}<button>Back</button>{{/link-to}}
</div>
